body {
	background: url(../images/images.jfif);
}

.field {
	border: 1px solid black;
	background: url(../images/bg.jpg);
	position: relative;
}

.cell {
	border: 3px solid black;
	border-radius: 10px;
	position: absolute;
	font-size: 70px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #fff;
	transition: ease-in 0.3s all;
	cursor: pointer;
}

i {
	margin: 0 5px 0 0;
}

@media (max-width: 433px) {
	.cell {
		font-size: 14px;
	}
}
button {
	display: inline-block !important;
	width: auto !important;
}
